@import '../../variables.scss';

.searchBox {
    margin-top: $padding-large;
}

.searchbar {
    width: auto;
    border-radius: 15px 0px 0px 15px;
    border-style: hidden;
    padding: $padding $padding-large;
    margin: 0 auto;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 2px;
}

.searchbutton {
    width: auto;
    padding: $padding $padding-large;
    background-color: $black;
    color: $white;
    border-radius: 15px;
    margin-left: -15px;
    border: none;
    font-size: 15px;
    line-height: 20px;
}

@media (min-width: $tablet) {
    .searchbar {
        width: 400px;
    }
}