@import '../../variables.scss';

.footer {
    display: flow-root;
    position: relative;
    font-size: 14px;
    line-height: 28px;
    padding: $padding-large;
    background-color: $black;
    color: $white;
    text-align: center;
}

.menu ul {
    margin-bottom: 0px;
    padding-left: 0px;
}

.menu ul li {
    list-style-type: none;
    display: inline;
    margin: auto 10px;
}

.copyright {
    float: none;
}

.menu {
    float: none;
}

@media (min-width: 500px) {
    .copyright {
        float: left;
    }
    
    .menu {
        float: right;
    }
}