@import './variables.scss';

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p,
a,
span,
strong,
b {
  font-size: 15px;
  color: $black;
}

a,
a:hover {
  text-decoration: none;
  color: $black;
}