:root {
    /* Padding */
    --padding-small: 5px;
    --padding: 10px;
    --padding-large: 20px;
    --padding-huge: 40px;

    /* Colors */
    --white: #fff;
    --black: #212529;
    --dark-grey: #555;
    --bg-grey: #f3f3f3;
}