:root {
    /* Padding */
    --padding-small: 5px;
    --padding: 10px;
    --padding-large: 20px;
    --padding-huge: 40px;

    /* Colors */
    --white: #fff;
    --black: #212529;
    --dark-grey: #555;
    --bg-grey: #f3f3f3;
}

/* Media */

@custom-media --tablet (width > 500px);
@custom-media --desktop-small (width > 800px);
@custom-media --desktop-regular (width > 1024px);
@custom-media --desktop-large (width > 1320px);
@custom-media --hd (width >= 1450px);